{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Cart{% endblock %}

{% block content %}

<div>
    <h4>Eae {{user.username}}</h4>
</div>


    <div class="card">

        <div class="card-header text-center">
            Carrinho
        </div>

        <form id="cart-form" method="POST">
            {% csrf_token %}
        
            <div class="card-body">

                <ul class="list-group list-group-flush">
                    {% for pizza in form.pizza %}
                    <li class="list-group-item">
                        {{ pizza }} 
                    </li>
                    {% endfor %}
                    
                    {% for drink in form.drink %}
                    <li class="list-group-item">
                        {{ drink }}
                    </li>
                    {% endfor %}
                    {% for combo in form.combo %}
                    <li class="list-group-item">
                        {{ combo }}
                    </li>
                    {% endfor %}
                </ul>

                <ul class="list-group list-group-flush"></ul>
                {% for field in form %}
                    {% if field.name in form.item_quantity_fields %}
                        <li class="list-group-item">
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text" id="{{ field.id_for_label }}">{{ field.label }}</span>
                                {{ field }}
                            </div>
                        </li>
                        <!-- <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        <br> -->
                    {% endif %}
                {% endfor %}

                </ul>

     
            </div>
            
            <div class="card-footer text-center">
                <input type="submit" class="btn btn-success " style="width: 18rem;" value="Fazer Pedido">
            </div>
        </form>
    
        <div class="card-footer text-center text-body-secondary">
          Fechando seu pedido
        </div>
      </div>



{% endblock %}
